.wrap {
  width: 1170px;
  margin: auto;
}

.head {
  width: 100%;
  height: 550px;
  background: #050F33 url("../images/earth.gif") no-repeat center;
  background-size: 30%;
  position: relative;
}

.head .text-box {
  text-align: center;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%);
  color: #07E5F0;
  font-size: 30px;
}

.head .text-box h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main {}


.description {
  background-color: #FAFAFA;
  padding: 50px 0 70px 0;
  line-height: 22px;
}

.description div:first-child h2,
.description div:last-child h2 {
  height: 120px;
  line-height: 120px;
  display: inline-block;
  background: url("../images/about-01.png") 20% center no-repeat;
  background-size: 50%;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.description div:last-child h2 {
  background: url("../images/about-02.png") 20% center no-repeat;
  background-size: 60%;
}

.description div:first-child p,
.description div:last-child p,
.wonderful p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
}

.wonderful h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wonderful {
  height: 460px;
}

.wonderful>div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wonderful img {
  width: 100%;
}

.el-col {
  padding: 0 20px;
}

.culture {
  padding: 50px 0;
}

.culture h2 {
  font-size: 30px;
  margin: 20px 0 60px;
  text-align: center;
  position: relative;
}

.culture h2::after {
  display: block;
  content: "";
  background-color: blue;
  width: 65px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15px);
}

.caption h4 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.caption {
  padding: 9px;
  color: #333;
  padding: 10px;
  padding-top: 20px;
  border: none;
  border-radius: 0;
  line-height: 22px;
  font-size: 15px;
}

.caption p,
.wonderful p {
  text-indent: 2em;
}

.businessBanner {
  height: 498px;
  background: url("../images/tm-banner.jpg") center center no-repeat;
  background-size: cover;
  margin: 0;
  color: white;
  position: relative;
  z-index: 0;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.businessBanner h3 {
  margin: 20px 0 15px;
  font-size: 40px;
  line-height: 40px;
}

.businessBanner p {
  margin-bottom: 10px;
}

.businessBanner a,
.agency a {
  display: inline-block;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  padding: 8px 40px;
  margin-top: 20px;
}

.businessBanner a:hover,
.agency a:hover {
  color: blue;
  background-color: white;
}

.agency {
  padding: 50px 0;
  background: url("../images/tm-11.jpg") center center no-repeat;
  background-size: cover;
  margin: 0;
  color: white;
  box-sizing: content-box;
  font-size: 15px;
  text-align: center;
}

.agency h3 {
  margin: 20px 0;
  font-size: 24px;
}

.agency p {
  margin-bottom: 10px;
  line-height: 20px;
}